<a href="https://colab.research.google.com/github/sandovalmedeiros/PythonGeo/blob/main/Aula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manipulando Banco de Dados



> **SQLite3**

In [ ]:
# Importando a biblioteca
import sqlite3

# Fazendo uma conexão
conexao = sqlite3.connect('meuBanco.db')

# Criando um cursor
cursor = conexao.cursor()

# Criando uma tabela no banco de dados meuBanco.db
#cursor.execute('''CREATE TABLE alunos 
#                  (id INTEGER PRIMARY KEY, matricula INTEGER, nome TEXT, idade INTEGER)''')

# Inserindo registros na tabela alunos
#cursor.execute("INSERT INTO alunos VALUES(1, 1405, 'Sandoval Medeiros', 60)")
#cursor.execute("INSERT INTO alunos VALUES(2, 1798, 'Alfredo Volpi', 83)")
#cursor.execute("INSERT INTO alunos VALUES(3, 2001, 'Chico Salles', 81)")

cursor.execute("INSERT INTO alunos VALUES(6, 1645, 'Fernanda Salles', 23)")

# Salvando os registros no banco
#conexao.commit()

# Fazendo uma seleção dos registros da tabela alunos
cursor.execute("SELECT * FROM alunos")

# Imprimindo o resultado da seleção
print(cursor.fetchall())

# Encerrando a conexão com o banco
conexao.close()

[(1, 1405, 'Sandoval Medeiros', 60), (2, 1798, 'Alfredo Volpi', 83), (3, 2001, 'Chico Salles', 81), (4, 1645, 'Fernanda Salles', 23), (5, 1645, 'Fernanda Salles', 23), (6, 1645, 'Fernanda Salles', 23)]



> **Psycopg2** - Utilizando esta biblioteca para conectar um banco Postgresql

In [ ]:
# Importaando a biblioteca
import psycopg2

# Conectando ao banco
conexao = psycopg2.connect(
    host = 'localhost' # ou neste caso 127.0.0.1 ou um endereço IP do servidor 10.28.XXX.XX
    port = '5432' # A porta padrão do Postgresql é a 5432 mas depemde da instalação que foi realizada.
    user = 'postgres' # Usuário padrão de instalação do Postgresql
    password = 'postgres' # Padrão
    database = 'meuBanco' # Neste caso o banco já foi criado com outro script ou no PgAdmin a conexão precisa achar o banco.
)

# Criando uma tabela no banco
cursor.execute('''CREATE TABLE alunos 
                  (id INTEGER PRIMARY KEY, matricula INTEGER, nome TEXT, idade INTEGER)''')

# Inserindo registros na tabela alunos
cursor.execute("INSERT INTO alunos VALUES('1, 1405, 'Sandoval Medeiros', 60)")
cursor.execute("INSERT INTO alunos VALUES('2, 1798, 'Alfredo Volpi', 83)")
cursor.execute("INSERT INTO alunos VALUES('3, 2001, 'Chico Salles', 81)")

# Salvando os registros no banco
conexao.commit()

# Fazendo uma seleção dos registros da tabela alunos
cursor.execute("SELECT * FROM alunos")

# Imprimindo o resultado da seleção
print(cursor.fetchall())

# Encerrando a conexão com o banco
conexao.close()