<a href="https://colab.research.google.com/github/sandovalmedeiros/PythonGeo/blob/main/Aula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manipulando Banco de Dados



> **SQLite3**

In [ ]:
# Importando a biblioteca
import sqlite3

# Fazendo uma conexão
conexao = sqlite3.connect('meuBanco.db')

# Criando um cursor
cursor = conexao.cursor()

# Criando uma tabela no banco de dados meuBanco.db
#cursor.execute('''CREATE TABLE alunos 
#                  (id INTEGER PRIMARY KEY, matricula INTEGER, nome TEXT, idade INTEGER)''')

# Inserindo registros na tabela alunos
#cursor.execute("INSERT INTO alunos VALUES(1, 1405, 'Sandoval Medeiros', 60)")
#cursor.execute("INSERT INTO alunos VALUES(2, 1798, 'Alfredo Volpi', 83)")
#cursor.execute("INSERT INTO alunos VALUES(3, 2001, 'Chico Salles', 81)")

#cursor.execute("INSERT INTO alunos VALUES(6, 1645, 'Fernanda Salles', 23)")

# Fazendo uma seleção dos registros da tabela alunos
cursor.execute("SELECT * FROM alunos")

#cursor.execute("DELETE FROM alunos WHERE id = 5") 

# Salvando os registros no banco
conexao.commit()

# Imprimindo o resultado da seleção
print(cursor.fetchall())

# Encerrando a conexão com o banco
conexao.close()

[(1, 1405, 'Sandoval Medeiros', 60), (2, 1798, 'Alfredo Volpi', 83), (3, 2001, 'Chico Salles', 81), (4, 1645, 'Fernanda Salles', 23)]



> **Psycopg2** - Utilizando esta biblioteca para conectar um banco Postgresql

In [ ]:
# Importaando a biblioteca
import psycopg2

# Conectando ao banco
conexao = psycopg2.connect(
    host = 'localhost' # ou neste caso 127.0.0.1 ou um endereço IP do servidor 10.28.XXX.XX
    port = '5432' # A porta padrão do Postgresql é a 5432 mas depemde da instalação que foi realizada.
    user = 'postgres' # Usuário padrão de instalação do Postgresql
    password = 'postgres' # Padrão
    database = 'meuBanco' # Neste caso o banco já foi criado com outro script ou no PgAdmin a conexão precisa achar o banco.
)

# Criando uma tabela no banco
cursor.execute('''CREATE TABLE alunos 
                  (id INTEGER PRIMARY KEY, matricula INTEGER, nome TEXT, idade INTEGER)''')

# Inserindo registros na tabela alunos
cursor.execute("INSERT INTO alunos VALUES('1, 1405, 'Sandoval Medeiros', 60)")
cursor.execute("INSERT INTO alunos VALUES('2, 1798, 'Alfredo Volpi', 83)")
cursor.execute("INSERT INTO alunos VALUES('3, 2001, 'Chico Salles', 81)")

# Salvando os registros no banco
conexao.commit()

# Fazendo uma seleção dos registros da tabela alunos
cursor.execute("SELECT * FROM alunos")

# Imprimindo o resultado da seleção
print(cursor.fetchall())

# Encerrando a conexão com o banco
conexao.close()

# Processando dados com Python

>**Pandas**

In [ ]:
# Importando a biblioteca Pandas
import pandas as pd

# Carregando um arquivo no formato csv para um dataframe pandas
dados = pd.read_csv('/content/sample_data/california_housing_test.csv')

# Imprimindo os dez primeiros dados (head)
#print(dados.head())

# Agora vamos filtrar os dados por um valor de uma coluna
dados_sel = dados[dados["population"]>=1000.0]

#print(dados_sel.head)

# Vamos agrupar os dados pelo valor de uma coluna e calcular a média por
# outro valor de uma coluna
agrupando = dados_sel.groupby("population").mean()("media_quartos")

# Ordenando os dados do conjunto pelo valor de uma coluna
dados_sel_sort = dados_sel.sort_values("population")

print(dados_sel_sort)

TypeError: ignored



> **Numpy**

In [58]:
# Importando a biblioteca Numpy
import numpy as np

# Criando array com números aleatórios
dados = np.random.rand(10)

print("Meu Array: " + str(dados))

print()

# Calculando a média dos valores do array
media = np.mean(dados)

print("A média do meu Array é: " + str(media))

print()

# Calculando o desvio padrão dos valores do array
desvio_padrao = np.std(dados)

print("O desvio padrão do meu Array é: " + str(desvio_padrao))

print()

# Encontrando o valor máximo do array
maximo = np.max(dados)

print("O valor máximo do meu Array é " + str(maximo))

Meu Array: [0.95596929 0.82491474 0.74004052 0.63727761 0.37289292 0.89875155
 0.37347633 0.85458403 0.05335016 0.98572262]

A média do meu Array é: 0.6696979768849105

O desvio padrão do meu Array é:0.29228201522080915

O valor máximo do meu Array é 0.98572261684389